{% extends 'base.html.twig' %}

{% block title %}Equipment index{% endblock %}

{% block body %}
    <h1>Equipment index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>ShortName</th>
                <th>LongName</th>
                <th>Poids</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for equipment in equipments %}
            <tr>
                <td>{{ equipment.id }}</td>
                <td>{{ equipment.shortName }}</td>
                <td>{{ equipment.longName }}</td>
                <td>{{ equipment.poids }}</td>
                <td>
                    <a href="{{ path('equipment_show', {'id': equipment.id}) }}">show</a>
                    <a href="{{ path('equipment_edit', {'id': equipment.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('equipment_new') }}">Create new</a>
{% endblock %}