{{ form_start(form) }}
{{ form_label(form.Matriculation, 'Immatriculation') }}
{{ form_widget(form.Matriculation, {'attr': {'class': 'text-center mb-3'}}) }}
{{ form_label(form.Brand, 'Marque') }}
{{ form_widget(form.Brand, {'attr': {'class': 'text-center mb-3'}}) }}
{{ form_label(form.Model, 'Modèle') }}
{{ form_widget(form.Model, {'attr': {'class': 'text-center mb-3'}}) }}
{{ form_label(form.Color, 'Couleur') }}
{{ form_widget(form.Color, {'attr': {'class': 'text-center mb-3'}}) }}
<button class="btn btn-success mx-auto d-flex justify-content-center m-3">Valider</button>
{{ form_end(form) }}