{% extends 'base.html.twig' %}

{% block title %}Edit Vehicle{% endblock %}

{% block body %}

    <h1 class="alert alert-info text-center">Vehicle Edit</h1>

	{{ form_start(form) }}
	{{ form_widget(form) }}
	<button class="btn btn-success mx-auto d-flex justify-content-center m-3">{{ button_label|default('Save') }}</button>
	{{ form_end(form) }}

	<h3 class="alert alert-secondary text-center">Vehicle equipments</h3>
	<table class="table text-center">
		<thead>
			<tr>
				<th>Id</th>
				<th>Long Name</th>
				<th>Weight</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for equipment in equipments %}
				<pre>
                {{ dump(equipment) }}
            </pre>
				<tr>
					<td>{{ equipment.equipment.id }}</td>
					<td>{{ equipment.longName }}</td>
					<td>{{ equipment.weight }}</td>
					<td class="d-flex justify-content-center">
						<form action="{{ path('vehicle_equipment_delete', {'equipment': equipment.equipment.id, 'vehicle': vehicle.id}) }}" method="post">
							<button type="submit" class="btn btn-danger">
								<i class="fa fa-trash"></i>
							</button>
						</form>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="6" class="alert alert-danger">No equipment in this vehicle !</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}