{% extends 'base.html.twig' %}

{% block title %}Edit Vehicle{% endblock %}

{% block body %}

    <h1 class="alert alert-info text-center">Vehicle Edit</h1>

	<div class="container col-12 text-center">
		{% include "vehicle/_form.html.twig" %}
	</div>

	<h3 class="alert alert-secondary text-center d-flex justify-content-center">Vehicle equipments</h3>
	<table class="table text-center">
            <th>
                <form class="text-center" action="{{ path('vehicle_equipment_new') }}" method="post">
                    <button type="submit" class="btn btn-success">
                        <i class="fa fa-plus fa-lg"></i>
                    </button>
                </form>
            </th>
		</thead>
		<tbody>
			{% for equipment in equipments %}
				<pre>
                {{ dump(equipment) }}
            </pre>
				<tr>
					<td>{{ equipment.equipment.id }}</td>
					<td>{{ equipment.longName }}</td>
					<td>{{ equipment.weight }}</td>
					<td class="d-flex justify-content-center">
						<form action="{{ path('vehicle_equipment_delete', {'equipment': equipment.equipment.id, 'vehicle': vehicle.id}) }}" method="post">
							<button type="submit" class="btn btn-danger">
								<i class="fa fa-trash"></i>
							</button>
						</form>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="6" class="alert alert-danger">No equipment in this vehicle !</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}