{% extends 'base.html.twig' %}

{% block title %}Vehicle index{% endblock %}

{% block body %}
	<h1 class="alert alert-info text-center">Vehicles list</h1>
	<a class="btn btn-primary d-flex justify-content-center m-2" href="{{ path('vehicle_new') }}">Create new vehicle</a>
	<table class="table text-center">
		<thead>
			<tr>
				<th>Id</th>
				<th>Registration</th>
				<th>Brand</th>
				<th>Model</th>
				<th>Color</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for vehicle in vehicles %}
				<tr>
					<td>{{ vehicle.id }}</td>
					<td>{{ vehicle.registration }}</td>
					<td>{{ vehicle.brand }}</td>
					<td>{{ vehicle.model }}</td>
					<td>{{ vehicle.color }}</td>
					<td class="d-flex justify-content-center">
						<a href="{{ path('vehicle_show', {'id': vehicle.id}) }}" class="btn btn-info mr-2">
							<i class="fa fa-eye fa-lg" aria-hidden="true"></i>
						</a>
						<a href="{{ path('vehicle_edit', {'id': vehicle.id}) }}" class="btn btn-warning mr-2">
							<i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
						</a>
						<form action="{{ path('vehicle_delete', {'id': vehicle.id}) }}" method="post">
							<button type="submit" class="btn btn-danger">
								<i class="fa fa-trash fa-lg"></i>
							</button>
						</form>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="6" class="alert alert-danger">No vehicle find !</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}