{% extends 'base.html.twig' %}

{% block title %}Vehicle{% endblock %}

{% block body %}
    <h1 class="alert alert-info text-center">Vehicle details</h1>

        <div class="d-flex justify-content-center m-3"> 

		<a href="{{ path('vehicle_index') }}" class="btn btn-info mr-2">
			<i class="fa fa-arrow-left" aria-hidden="true"></i>
		</a>
		<a href="{{ path('vehicle_edit', {'id': vehicle.id}) }}" class="btn btn-warning mr-2">
			<i class="fa fa-pencil" aria-hidden="true"></i>
		</a>
		<form action="{{ path('vehicle_delete', {'id': vehicle.id}) }}" method="post">
			<button type="submit" class="btn btn-danger">
				<i class="fa fa-trash"></i>
			</button>
		</form>
	</div>
    	<table class="table d-flex justify-content-center">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ vehicle.id }}</td>
			</tr>
			<tr>
				<th>Registration</th>
				<td>{{ vehicle.registration }}</td>
			</tr>
			<tr>
				<th>Brand</th>
				<td>{{ vehicle.brand }}</td>
			</tr>
			<tr>
				<th>Model</th>
				<td>{{ vehicle.model }}</td>
			</tr>
			<tr>
				<th>Color</th>
				<td>{{ vehicle.color }}</td>
			</tr>
		</tbody>
	</table>
    <h3 class="alert alert-secondary text-center">Vehicle equipments</h3>
	<table class="table text-center">
		<thead>
			<tr>
				<th>Id</th>
				<th>Long Name</th>
				<th>Weight</th>
			</tr>
		</thead>
		<tbody>
			{% for equipment in equipments %}
            <pre>
                {{ dump(equipment) }}
            </pre>
				<tr>
					<td>{{ equipment.equipment.id }}</td>
					<td>{{ equipment.longName }}</td>
					<td>{{ equipment.weight }}</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="6" class="alert alert-danger">No equipment in this vehicle !</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}