{% extends 'base.html.twig' %}

{% block title %}VehicleEquipement index{% endblock %}

{% block body %}
    <h1>VehicleEquipement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom Long</th>
                <th>Poids</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vehicle_equipment in vehicle_equipments %}
            <tr>
                <td>{{ vehicle_equipment.longName }}</td>
                <td>{{ vehicle_equipment.weight }}</td>
                <td>
                    <a href="{{ path('vehicle_equipment_show', {'vehicle': vehicle_equipment.vehicle}) }}">afficher</a>
                    <a href="{{ path('vehicle_equipment_edit', {'vehicle': vehicle_equipment.vehicle}) }}">editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">pas d'équipement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('vehicle_equipment_new') }}">Créer un nouvel équipement</a>
{% endblock %}